.firstcolor {
  color: white;
  background-color: purple;
}

.secondcolor {
  color: white;
  background-color: blue;
}

.thirdcolor {
  color: white;
  background-color: green;
}

.fourthcolor {
  color: white;
  background-color: yellow;
}

.fifthcolor {
  color: white;
  background-color: orange;
}

.sixthcolor {
  color: white;
  background-color: red;
}
